.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio__item{
    width: 350px;
    aspect-ratio: 1/1;
    grid-row:1;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
}

.portfolio__item:hover {
    transform: scale(1.15);
    background: var(--color-bg);
    border: 1px solid;
    border-color: var(--color-primary);
}